.nav {
    grid-area: n;
    background-color: burlywood;
    padding: 20px;
}

.item a {
    color: white;
    text-decoration: none;
}

.item a.activeLink {
    color: gold;
}
.blockFriends{
  margin-top: 40px;
}
.blockFriends > p{
  color: white;
  font-size: 25px;
}
.friends{
  /* display: flex;
  justify-content: space-between;
  flex-wrap: wrap; */
}
